h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    background-color: #ffdddd;
    line-height: 1.5;
    max-width: 30em;
    margin: 0 auto;
}

p {
    text-align: left; /* ragged right */
}

iframe {
    max-width: 100%;
}

section {
    background-color: #ff9a9a;
}

footer {
    background-color: #ffa4a4;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}